@import "./src/App/App.scss";

div {
  .Experience {
    background-color: #5ccd32;
    border-radius: $borderR;
    @include blocksStyles;
  }

  .Table {
    width: 100%;

    #{$MName}-left: 20px;

    td:nth-child(1) {
    color: #233E8B;
    }

    td:nth-child(2),
    td:nth-child(3)
    {
      color: #233E8B;
    }

  }

}